*{

margin:0;
padding:0;
<<<<<<< HEAD
box-sizing:border-box;
font-family:Arial;
=======

box-sizing:border-box;

font-family:Arial,sans-serif;
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e

scroll-behavior:smooth;

}

body{

<<<<<<< HEAD
background:#f4f7fb;
=======
background:#fff7fa;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
color:#333;

}

header{

background:
linear-gradient(
135deg,
<<<<<<< HEAD
#4f46e5,
#7c3aed
);

color:white;

min-height:100vh;

=======
#ffb6c1,
#ffc0cb,
#ffd6df
);

min-height:100vh;

padding-bottom:50px;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
}

nav{

display:flex;

justify-content:space-between;

<<<<<<< HEAD
padding:25px 8%;

align-items:center;

=======
align-items:center;

padding:20px 8%;

}

nav h1{

color:white;

font-size:34px;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
}

nav ul{

display:flex;
<<<<<<< HEAD
gap:25px;
=======

gap:25px;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
list-style:none;

}

nav a{

<<<<<<< HEAD
color:white;
text-decoration:none;
font-weight:bold;

=======
text-decoration:none;

color:white;

font-weight:bold;

transition:0.3s;

}

nav a:hover{

color:#ff4f87;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
}

.hero{

display:flex;
<<<<<<< HEAD
flex-direction:column;

justify-content:center;
=======

flex-direction:column;

justify-content:center;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
align-items:center;

text-align:center;

<<<<<<< HEAD
height:80vh;

padding:20px;

}

.hero h1{

font-size:60px;
=======
padding:50px 20px;

color:white;

}

.hero img{

width:260px;

border-radius:25px;

margin-bottom:25px;

box-shadow:
0 10px 25px
rgba(0,0,0,0.2);

}

.hero h2{

font-size:52px;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
margin-bottom:15px;

}

<<<<<<< HEAD
.hero span{

color:#ffd369;

}

.hero p{

font-size:22px;
=======
.hero p{

font-size:20px;

max-width:600px;

line-height:1.7;
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e

margin-bottom:25px;

}

<<<<<<< HEAD
.buttons{

display:flex;

gap:15px;

}

button{

padding:14px 28px;
=======
button{

padding:14px 30px;
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e

border:none;

border-radius:30px;

<<<<<<< HEAD
=======
background:white;

color:#ff4f87;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
font-weight:bold;

cursor:pointer;

<<<<<<< HEAD
background:#ffd369;

}

.secondary{

background:white;

}

.about,
.skills,
.projects,
.contact,
.internships{

padding:80px 10%;

text-align:center;

}

.skill-box{
=======
transition:0.3s;

}

button:hover{

background:#ff4f87;

color:white;

transform:scale(1.05);

}

.features{
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e

display:flex;

justify-content:center;

flex-wrap:wrap;

<<<<<<< HEAD
gap:18px;

margin-top:25px;

}

.skill-box div{

background:white;

padding:15px 25px;

border-radius:15px;

box-shadow:
0 4px 12px
rgba(0,0,0,.08);

}

.intern-card,
.project-card{

background:white;

padding:25px;

max-width:550px;

margin:25px auto;

border-radius:20px;

box-shadow:
0 4px 12px
rgba(0,0,0,.08);

}

.socials{

font-size:35px;

margin:25px;

display:flex;

justify-content:center;

gap:25px;
=======
gap:30px;

padding:80px 8%;

background:white;

}

.card{

background:#fff0f5;

padding:30px;

width:280px;

border-radius:18px;

text-align:center;

box-shadow:
0 5px 15px
rgba(0,0,0,0.08);

transition:0.3s;

}

.card:hover{

transform:
translateY(-8px);

}

.card h3{

color:#ff4f87;

margin-bottom:15px;

}

.card p{

line-height:1.7;

}

.about{

padding:80px 10%;

text-align:center;

background:#ffe8ef;

}

.about h2{

font-size:35px;

color:#ff4f87;

margin-bottom:20px;

}

.about p{

max-width:700px;

margin:auto;

line-height:1.8;

font-size:18px;
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e

}

footer{

<<<<<<< HEAD
background:#222;

color:white;

padding:20px;

text-align:center;

=======
background:#ff9db5;

color:white;

text-align:center;

padding:35px;

line-height:2;

>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
}

@media(max-width:768px){

nav{

flex-direction:column;

gap:15px;

}

nav ul{

flex-direction:column;

<<<<<<< HEAD
}

.hero h1{

font-size:40px;

}

.buttons{

flex-direction:column;

}

=======
text-align:center;

}

.hero h2{

font-size:38px;

}

.hero img{

width:220px;

}

}
html{
scroll-behavior:smooth;
>>>>>>> c7790ef643d50b0ed6a9ac53ee544740c1d1650e
}