*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}

body{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:

linear-gradient(
135deg,
#667eea,
#764ba2
);

}

.calculator{

background:white;

padding:25px;

border-radius:20px;

box-shadow:

0 5px 20px
rgba(0,0,0,.2);

width:320px;

}

#display{

width:100%;

height:70px;

font-size:28px;

text-align:right;

padding:15px;

border:none;

background:#f3f3f3;

margin-bottom:20px;

border-radius:10px;

}

.buttons{

display:grid;

grid-template-columns:

repeat(4,1fr);

gap:12px;

}

button{

height:60px;

border:none;

border-radius:12px;

font-size:22px;

cursor:pointer;

background:#ececec;

transition:.2s;

}

button:hover{

background:#dcdcdc;

}

.equal{

background:#667eea;

color:white;

grid-row:

span 2;

height:132px;

}

.zero{

grid-column:

span 2;

}